<!DOCTYPE html>
<html lang="en" ng-app="myWallet">
<head>
    <meta charset="UTF-8">
    <title>Personal wallet</title>
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/js/controller/user.controller.js"></script>
    <script src="./app/js/service/user.service.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">
</head>

<body>
<br/>
<br/>
<div class="container">
    <div ng-controller="UserController">
        <div class="container">

            <!-- User List -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Get User List</div>
                    <div class="panel-body">

                <button type="button" class="btn btn-default navbar-btn" ng-click="getUsers()">Get Users</button>
                <button type="button" class="btn btn-default navbar-btn" ng-click="clearList()">Clear</button>

                <table class="table">
                    <tbody>
                    <tr ng-repeat="user in users">
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                    </tr>
                    </tbody>
                </table>

                    </div>
                </div>
            </div>


            <!-- Create User -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Create User</div>
                    <div class="panel-body">
                <div class="alert alert-success" role="alert" ng-show="alert">{{alert}}</div>
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" ng-model="user.email" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFirstName1">First Name</label>
                        <input type="text" class="form-control" id="exampleInputFirstName1" ng-model="user.firstName" placeholder="First Name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputLastName1">Last Name</label>
                        <input type="text" class="form-control" id="exampleInputLastName1" ng-model="user.lastName" placeholder="Last Name" required>
                    </div>
                    <col-mod-6>
                        <button type="submit" class="btn btn-default navbar-btn" ng-click="createUser(user)">Submit</button>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="clearForm()">Clear</button>
                    </col-mod-6>
                </form>
                    </div>
            </div>
            </div>


            <!-- Delete/find User By Id -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Delete/Find User By Id</div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="userId">User ID</label>
                                <input type="text" class="form-control" id="userId" ng-model="user.id" placeholder="User ID" required>
                            </div>
                            <col-mod-6>
                                <button type="submit" class="btn btn-default navbar-btn" ng-click="deleteUser(user.id)">Delete</button>
                                <button type="submit" class="btn btn-default navbar-btn" ng-click="getUserById(user.id)">Find</button>
                            </col-mod-6>
                        </form>
                    </div>
                </div>
            </div>




            <!-- Delete User By Email -->
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Delete User By Email</div>
                    <div class="panel-body">
                        <div class="alert alert-success" role="alert" ng-show="alert">{{alert}}</div>
                        <form>
                            <div class="form-group">
                                <label for="userEmailDelete">User ID</label>
                                <input type="text" class="form-control" id="userEmailDelete" ng-model="user.email" placeholder="User Email" required>
                            </div>
                            <col-mod-6>
                                <button type="submit" class="btn btn-default navbar-btn" ng-click="deleteUserByEmail(user.email)">Delete</button>
                                <button type="submit" class="btn btn-default navbar-btn" ng-click="getUserById(user.id)">Find</button>
                            </col-mod-6>
                        </form>
                    </div>
                </div>
            </div>



            <!-- Update User-->
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Update User</div>
                        <div class="panel-body">
                    <form>
                        <div class="form-group">
                            <label for="upUserId">User Id </label>
                            <input type="text" class="form-control" id="upUserId" ng-model="user.id" placeholder="User Id" required>
                        </div>
                        <div class="form-group">
                            <label for="upEmailId">Email address</label>
                            <input type="email" class="form-control" id="upEmailId" ng-model="user.email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <label for="upFirstName">First Name</label>
                            <input type="text" class="form-control" id="upFirstName" ng-model="user.firstName" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="upLastName">Last Name</label>
                            <input type="text" class="form-control" id="upLastName" ng-model="user.lastName" placeholder="Last Name" required>
                        </div>
                        <col-mod-6>
                            <button type="submit" class="btn btn-default navbar-btn" ng-click="updateUserById(user.id, user)">Update</button>
                        </col-mod-6>
                    </form>
                        </div>
                </div>
                </div>


    </div>
</div>
    </div>
</div>
</body>
</html>
